{% extends "base.html" %} {% block title %}About
{% endblock %}
 {% block content %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>About</title>
     <link rel="stylesheet" href="../static/style.css">
 </head>
 <body>
     <h2 style="text-align: center">
         About clacks blog
     </h2>
 
     <p>
         Clacks blog is a  2nd semester project of Bidemi Saka of Altschool africa
     </p>
     <p>
         In this blog you can post all you want to pls don't use hurtful words and avoid insult. thank you for using clacks blog and have a nice time.
     </p>
 
 
     <h3 style=" text-align: center">
         Contact Info
     </h3>
         <ul>
             <li>
                 Email: <a href="Bidemisaka2000@gmail.com">Bidemisaka2000@gmail.com</a> 
             </li>
             <li>
                 phone: 07016041003
             </li>
             <li>
                 Git Hub: <a href="https://github.com/clackkent01">https://github.com/clackkent01</a> 
             </li>
         </ul>
 </body>
 </html>
    
{% endblock  %}
